.info{
    margin: 50px;
    border: 5px solid black;
    max-width: 1500px;
    height: 350px;
    text-align: justify;
    font-family: sans-serif;
    font-size: 2rem;
    margin-top: 2%;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.info p{
    margin-top: 2%;
    margin-left: 2%;
}

.foto{
text-align: center

}